.container {
  color: #eaeaea;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4em;
}

.title span {
  color: #f53678;
  text-decoration: none;
  transition: all 1.5s ease;
}

.title span:hover {
  color: #0fc0fc;
  transition: all 1.5s ease;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1;
  font-size: 1.5em;
}

.icons {
  margin-top: 5%;
  font-size: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  position: relative;
  display: inline-block;
  padding-left: 0.3em;
  padding-right: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background: #2c2f33;
  color: #efefef;
  text-align: center;
  font-size: 0.35em;
  padding: 0.5em;
  border-radius: 0.5em;
  width: auto;
  position: absolute;
  bottom: 120%;
  margin: auto -3.5em;
}

.icon:hover .tooltip {
  visibility: visible;
  transition: all 0.4s ease;
  opacity: 1;
}

.icon:not(:hover) .tooltip {
  visibility: hidden;
  transition: all 0.4s ease;
}

.contacts {
  margin: 0;
  line-height: 1;
  font-size: 1.5em;
}

.contact {
  color: #ccff00;
  text-decoration: none;
  transition: all 0.5s ease;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.contact:hover {
  color: #0fc0fc;
  transition: all 0.5s ease;
}

.contact .tooltip {
  visibility: hidden;
  opacity: 0;
  background: #2c2f33;
  color: #efefef;
  text-align: center;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.5em;
  width: auto;
  position: absolute;
  bottom: 120%;
  margin: auto -3.5em;
}

.tooltip:hover {
  color: #2c2f33;
  background: #50e3c2;
}

.contact:hover .tooltip {
  visibility: visible;
  transition: all 0.4s ease;
  opacity: 1;
}

.contact:not(:hover) .tooltip {
  visibility: hidden;
  transition: all 0.4s ease;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
